* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-kerning: auto;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

#phaser {
    outline: 1px solid black;
}